<html>
  <head>
    <title>Mail Header Parser</title>
  </head>
  <body style="font-family: sans-serif;">
    <h1>Mail Header Parser</h1>
													

    <p>Company URL: <q><%=@company_url %></q></p>
    <p>Correct email format: <q><%=@correct_email_format %></q></p>
    <p>Email Server Type: <q><%=@email_server_type %></q></p>
    <p>Software Version: <q><%=@software_version %></q></p>
    <p>Security Software: <q><%=@security_software %></q></p>
    <p>Header Contents: <q><%=@header_contents %></q></p>
    <p>Firstname.lastname: <q><%=@firstname_lastname %></q></p>
    <p>Flastname: <q><%=@flastname%></q></p>
    <p>Name conflicts: <q><%=@name_conflicts %></q></p>
    <p>Microsoft Exchange: <q><%=@microsoft_exchange %></q></p>
    <p>Microsoft Exchange V4: <q><%=@microsoft_exchange_v_4 %></q></p>
    <p>Microsoft Exchange V5.0: <q><%=@microsoft_exchange_v_5 %></q></p>
    <p>Microsoft Exchange V5.5: <q><%=@microsoft_exchange_v_5_5 %></q></p>
    <p>Microsoft Exchange V6.0: <q><%=@microsoft_exchange_v_6 %></q></p>
    <p>Microsoft Exchange V6.5: <q><%=@microsoft_exchange_v_6_5 %></q></p>
    <p>Microsoft Exchange V8: <q><%=@microsoft_exchange_v_8 %></q></p>
    <p>Lotus Notes / Dominio: <q><%=@lotus_notes_domino %></q></p>
    <p>Lotus Notes / Domino version: <q><%=@lotus_notes_domino_version %></q></p>
    <p>Novell Grouwpise: <q><%=@novell_grouwpise %></q></p>
    <p>Novell Groupwise version: <q><%=@novell_grouwpise_version %></q></p>
    <p>Google Apps: <q><%=@google_apps %></q></p>
    <p>Other: <q><%=@other_apps %></q></p>
    <p>Software TypeConflict: <q><%=@software_conflicts %></q></p>
    <p>Software Version Conflict: <q><%=@software_conflict_version %></q></p>

  </body>
</html>